@import "dashboard.css";

body {
    font-size: 1.3rem;
    font-family: "Malgun Gothic", "Apple SD Gothic Neo", dotum, monospace;
}

tbody tr th {
    background: #f2f2f2;
}

tbody tr.on {
    background: #337ab7;
    color: #fff;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    font-size: 12px;
}

#page * {
    border-radius: 0;
}

img {
    max-width: 100%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

a {
    text-decoration: none;
}

label, th {
    font-weight: 400;
}

.menu-item h2 {
    font-size: 2rem;
}

.mb-10 {
    margin-bottom: 10px;
}

#page .sidebar {
    background: #fff;
    padding: 0;
}

.admin-menu {
    padding: 20px 0;
}

.admin-menu ul {
    margin: 0;
    padding: 0;
}

.admin-menu .nav-menu > ul {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    margin-top: -1px;
}

.admin-menu .nav-menu > ul > li > a {
    border-bottom: 1px solid #dedede;
    background: #f5f5f5;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

.admin-menu .nav-menu > ul ul {
    padding: 0 0 0 10px;
}

.admin-menu ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.admin-menu ul li a {
    display: block;
    padding: 4px 4px;
}

.admin-menu ul li a:hover {
    text-decoration: none;
}

.admin-menu ul li.active > a {
    color: #a03e3e;
    font-weight: bold;
}

h1.page-header {
}

h1.page-header.on {
}

.ivh-treeview:first-child {
    margin: 0;
    padding: 0;
}

.ivh-treeview li {
    list-style: none;
}

.ivh-treeview li li {
    margin-left: 30px;
    padding: 3px 0;
    background: none;
}

ul.ivh-treeview li.ivh-treeview-node-leaf .ivh-treeview-twistie-leaf {
    display: none;
}

.ivh-treeview input[type=checkbox],
.ivh-treeview input[type=radio] {
    position: relative;
    top: 2px;
}

.selectedGroups {
    margin: 10px 0;
    padding: 0;

}

.selectedGroups li {
    margin: 2px 0;
    list-style: circle inside none;
}

.files {
    margin-top: 10px;
}

#page-body {
    padding-bottom: 30px;
}

.wp-pagination {
    text-align: center;
    margin: 10px 0;
}

.table.table-noBorder th, .table.table-noBorder td {
    border-top: none;
}

.logout {
    float: right;
    margin-top: 15px;
}

textarea#post_content,
.tinymce {
    min-height: 450px;
}

textarea#post_content {
    font-size: 8px;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}

.navbar-collapse ul {
    margin: 0;
    padding: 0;
}

.navbar-collapse ul ul {
    margin-left: 10px;
}

.navbar-collapse li a {
    color: #fff;
    display: block;
    padding: 10px;
}

.chattingBox {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #dedede;
    padding: 5px;
}

.chattingBox ul {
    margin: 0;
    padding: 0;
}

.chattingBox ul li {
    margin: 0;
    list-style-type: none;
}

.userList {
    border: 1px solid #dedede;
}

.userList tbody {
    height: 350px;
    overflow-y: scroll;
    display: block;
    width: 100%;
}

.userList thead, .userList tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.userList td {
    text-align: center;
}

.userInfo th {
    background: #f6f6f6;
    width: 100px;
}

.table th {
    font-weight: bold;
    background: #f7f7f7;
}

.form-save {
    margin-bottom: 20px;
}

legend {
    display: none;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin: 0;
    font-size: inherit;
}

.page-title {
    margin-top: 20px;
    font-size: 24px;
}

.form-title {
    font-size: 18px;
    margin-bottom: 15px;
}

hr {
    display: block;
    margin: 15px 0;
}

.table thead th, .table thead td,
.table tbody th, .table tbody td {
    vertical-align: middle !important;
}

.table-center th, .table-center td {
    text-align: center;
}

.search-btn {
    margin-bottom: 20px;
}

.currentSide a {
    color: #ee1515;
}

.sr-only {
    display: none;
}

.form-control {
    font-size: 12px;
    padding: 2px 4px;
    height: auto;
}

.btn {
    padding: 4px 8px;
    font-size: 12px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px 4px;
}

h4, .h4 {
    font-size: 14px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

.page-title {
    margin-top: 10px;
    font-size: 18px;
}

hr {
    margin: 10px 0;
}

.pagination > li > a, .pagination > li > span {
    padding: 2px 6px;
}

.pagination > li > a, .pagination > li > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    color: #333;
}

.table-hover-hr tr:hover {
    cursor: pointer;
}